<div style="text-align:center">
<h1 class="welcome">Welcome to iCoach</h1>
<h3>Create a new club to start feelling the awesomeness of  the best team manager ever!</h3>

<%= link_to 'New Club', new_club_path, :class => "btn btn-success" %>
</div>

