<div class="club-details container-fluid">
  <div class="row-fluid">
    <div class="span2">
        <%= image_tag @club.avatar.url(:medium), :class => "img-circle" %>
    </div>
    <div class="span8">
        <h1><%= link_to @club.name%></h1>
        <h3>Teams</h3>
    </div>
  </div>
</div>
<div class="top-right-menu">
  <%= link_to 'New Team', new_club_team_path, :class => 'newlink' %>
</div>

<%= render "listTeams"%>