<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "iCoach", root_path, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Teams", teams_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>