<h3>Add new users</h3>
  <div class="field">
    <%= hidden_field_tag "club[user_ids][]", nil %>
    <% User.all.each do |user| %>
	    <% if  @club.user_ids.include?(user.id) %>
	    	<%= hidden_field_tag "club[user_ids][]", user.id %>
	    <% else %>
	      <%= check_box_tag "club[user_ids][]", user.id, @club.user_ids.include?(user.id), id: dom_id(user) %>
	      <%= label_tag dom_id(user), user.email %> <br>
	    <% end %>
    <% end %>
  </div>