/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
h1, h2, h3{
  text-shadow: 0px 2px 2px #555;

  a{
    color: #333;
  }
}

.club-details{
	padding: 30px;

	h1{
		margin-top: 20px;
	}

	h3{
		display: inline;
	}

	.editlink{
		margin-left: 20px;
	}
}

.top-right-menu{
  position: absolute;
  top: 75px;
  right: 45px;
}

.inputLong{
  width: 85%;
}


.content{
  background-color: #eee;
  background-color: rgba(238, 238, 238, 0.81);
  position: relative;
  margin: auto;
  padding: 40px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 2px 4px #555;
  -moz-box-shadow: 0px 2px 4px #555;
  box-shadow: 0px 2px 4px #555;

}

.player-number{
  width: 100px;
  height: 80px;
  text-align: center;
  margin: auto;
  padding-top: 20px;

  background: #494949;
  border: 11px solid whiteSmoke;
  color: whiteSmoke;

  -webkit-box-shadow: 0px 2px 4px #555;
  -moz-box-shadow: 0px 2px 4px #555;
  box-shadow: 0px 2px 4px #555;
}

.player-details{
  margin-top: 10px;

  .player-details-inner{
    margin-left: 10px;
  }
}

.results{
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -40px;
  margin-bottom: 20px;
  background: whiteSmoke;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 2px 4px #555;
  min-height: 140px;

  h1, h2, h3{
    color: #616161;
    text-shadow: none;
  }

  h1{
    font-size: 140px;
  }

  h4{
    color: #929292;
  }

  #numbers{
    p{
      margin:0;
      color: #A7A7A7;
    }

    h1{
      text-shadow: 0px 2px 4px #555;
    }
  }
}

.no-margin{
  margin: 0;
}

.teams{
  padding: 0 30px 30px 30px;
}

.header{
  &:hover{
    color: #005580;
    text-decoration: underline;
    cursor: pointer;
  }
}

.image-radio{
  margin-top: -23px;
  margin-left: 20px;
}

.image-event{
  display: block;
  height: 140px;
}

#submitEvent{
  display: none;
}

.eventsByMinute{
  margin-left: 18px;
  margin-right: 18px;
  color: #8B8B8B;

  p{
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: whiteSmoke;

  &:hover {
  	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  }
}

::-webkit-scrollbar-thumb {
  background: #eee;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);

  &:hover {
  	background: #ccc;
  }
}
