// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$textShadowColor: #888;
$textShadowLenght: 0px 1px 2px;
$boxShadowLenght: 0px 1px 6px;

.player-number{
  width: 100px;
  height: 80px;
  text-align: center;
  margin: auto;
  padding-top: 20px;

  background: #494949;
  border: 11px solid whiteSmoke;
  color: whiteSmoke;

  -webkit-box-shadow: $boxShadowLenght $textShadowColor;
  -moz-box-shadow: $boxShadowLenght $textShadowColor;
  box-shadow: $boxShadowLenght $textShadowColor;
}

.player-details{
  margin-top: 10px;

  .player-details-inner{
    margin-left: 10px;
  }
}